<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soukuan.mapper.FavoriteMapper">
  <resultMap id="BaseResultMap" type="com.soukuan.domain.po.Favorite">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="good_id" jdbcType="VARCHAR" property="goodId" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>