<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanshifu.mapper.GoodMapper">
  <resultMap id="BaseResultMap" type="com.wanshifu.domains.po.Good">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="good_type_id" jdbcType="VARCHAR" property="goodTypeId" />
    <result column="good_type_name" jdbcType="VARCHAR" property="goodTypeName" />
    <result column="good_kind_id" jdbcType="VARCHAR" property="goodKindId" />
    <result column="good_kind_name" jdbcType="VARCHAR" property="goodKindName" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="purchase_price" jdbcType="DECIMAL" property="purchasePrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="price_market" jdbcType="DECIMAL" property="priceMarket" />
    <result column="price_group_buy" jdbcType="DECIMAL" property="priceGroupBuy" />
    <result column="credits" jdbcType="INTEGER" property="credits" />
    <result column="pic_id" jdbcType="VARCHAR" property="picId" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="begin_sale_time" jdbcType="TIMESTAMP" property="beginSaleTime" />
    <result column="end_sale_time" jdbcType="TIMESTAMP" property="endSaleTime" />
    <result column="order_multiple" jdbcType="INTEGER" property="orderMultiple" />
    <result column="total_sales" jdbcType="INTEGER" property="totalSales" />
    <result column="daily_net_sales" jdbcType="INTEGER" property="dailyNetSales" />
    <result column="purchase_num" jdbcType="INTEGER" property="purchaseNum" />
    <result column="total_cost_inventory" jdbcType="DECIMAL" property="totalCostInventory" />
    <result column="average_cost_inventory" jdbcType="DECIMAL" property="averageCostInventory" />
    <result column="inventory_min" jdbcType="INTEGER" property="inventoryMin" />
    <result column="inventory_max" jdbcType="INTEGER" property="inventoryMax" />
    <result column="index_show" jdbcType="VARCHAR" property="indexShow" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier_id" jdbcType="VARCHAR" property="modifierId" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="is_inventory" jdbcType="VARCHAR" property="isInventory" />
    <result column="initialNum" jdbcType="DECIMAL" property="initialnum" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="tax_price" jdbcType="DECIMAL" property="taxPrice" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="click_number" jdbcType="DECIMAL" property="clickNumber" />
    <result column="delivery_id" jdbcType="VARCHAR" property="deliveryId" />
    <result column="payment_id" jdbcType="VARCHAR" property="paymentId" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="group_number" jdbcType="INTEGER" property="groupNumber" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="is_next" jdbcType="VARCHAR" property="isNext" />
    <result column="return_rate" jdbcType="DECIMAL" property="returnRate" />
    <result column="return_price" jdbcType="DECIMAL" property="returnPrice" />
    <result column="activit_number" jdbcType="VARCHAR" property="activitNumber" />
    <result column="total_num" jdbcType="VARCHAR" property="totalNum" />
  </resultMap>
</mapper>